.app-layout {
  min-height: 100vh;
  background: var(--bg-page);

  transition: background-color 0.25s ease;
}

.app-main {
  min-height: 100vh;
  margin-left: 245px;
}

.app-content {
  min-height: calc(100vh - 76px);
  box-sizing: border-box;

  padding-top: 76px;

  background: var(--bg-page);

  transition: background-color 0.25s ease;
}

@media (max-width: 850px) {
  .app-main {
    margin-left: 72px;
  }
}

@media (max-width: 600px) {
  .app-main {
    margin-left: 0;
  }
}